html
	head
		title= title
	body
		- if (projects.length)
			- projects.forEach(function(project) {
				a(href="#{project.url}")= project.name
				p= project.description
			- })
		- else
			No projects
