html
	head
		title!= self.title
	body
		p!= self.text
		- if (self.projects.length)
			- self.projects.forEach(function(project) {
				a(href="#{project.url}")!= project.name
				p!= project.description
			- })
		- else
			No projects
